*{
	margin:0px;
	padding:0px;
}



body{
	background-color:#555555;
    background: url(Profile.jpg);
	color:#555555;

	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;

	line-height:1.6em;
}

@font-face {
    font-family: 'post_no_bills_colombobold';
    src: url('post-no-bills-colombo.bold-webfont.woff2') format('woff2'),
         url('post-no-bills-colombo.bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
    background-color: #f4f4f4;
}

/*remove hyperlinks and underlines from ALL links*/
a{
	text-decoration: none;
	color:#fff;
}

a:hover{
	color:red;
}

.pad{
    padding: 10px;
}

.clr{
	clear:both;
}

.button{
	background-color:grey;
	padding:10px 15px;
	border:none;
}

.button:hover{
	background:black;
	color:#fff;
}


#header{
	overflow:hidden;
	background-color:grey;
	position:fixed;
	top:0;
	width:80%;
}

#top-logo{
	float:left;
	width:7%;
	box-sizing:border-box;
	padding:5px
}

#title-text{
	padding-left:15px;
	padding-top:18px;
	float:left;
    font-family: post_no_bills_colombobold;
	font-size:40px;
	box-sizing:border-box;
	color:black;
}

#nav-bar{
	color:white;
	margin:0px;
	height:80px;
	width:37%;
	float:right;
	box-sizing:border-box;
}

#nav-bar ul{
	padding-top:20px;
	list-style:none;
}

#nav-bar li{
	display:inline;
	padding-right:10px;
}

/*Format the links ONLY in navbar*/
#nav-bar a{
	font-size:18px;
	padding-right:20px;
}

/*Formatting the players*/

.players{
	float:left;
	width:33.3%;
	padding:10px;
	box-sizing:border-box;
	text-align:center;
}

.playerImage{
	max-width:100%;
	height:auto;
	text-align
}

.fixed{
	position:fixed;
	top:180px;
}

.column {
    float: left;
    width: 50%;
}

.stream{
    text-align: center;
}

.livechat{
    text-align: center;
    float:right;
}

.column2{
    text-align: center;
    float:right;
}

.column3{
    text-align: center;
}

        .row:after {
    content: "";
    display: table;
    clear: both;
}

 .header{
            float: none
            text-align: center;
        }

.news h2{
    text-align: center
}

.news pad{
    padding-top: 10px;
}

.clips{
    text-align: center;
}


        
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
        

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1{
    text-align: left;
    font-size: 3em;
    font-family: 'post_no_bills_colombobold';
  }

h2{
    font-family: 'post_no_bills_colombobold';
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: table-column;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
   