*{
	margin:0px;
	padding:0px;
}


body{
	background-color:#f4f4f4;
	color:#555555;

	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;

	line-height:1.6em;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

/*remove hyperlinks and underlines from ALL links*/
a{
	text-decoration: none;
	color:#fff;
}

a:hover{
	color:red;
}

.clr{
	clear:both;
}

.button{
	background-color:grey;
	padding:10px 15px;
	border:none;
}

.button:hover{
	background:black;
	color:#fff;
}

#header{
	overflow:hidden;
	background-color:grey;
	position:fixed;
	top:0;
	width:80%;
}

#top-logo{
	float:left;
	width:7%;
	box-sizing:border-box;
	padding:5px
}

#title-text{
	padding-left:15px;
	padding-top:18px;
	float:left;
	font-size:40px;
	box-sizing:border-box;
	color:black;
}

#nav-bar{
	color:white;
	margin:0px;
	height:50px;
	width:37%;
	float:right;
	box-sizing:border-box;
}

#nav-bar ul{
	padding-top:20px;
	list-style:none;
}

#nav-bar li{
	display:inline;
	padding-right:10px;
}

/*Format the links ONLY in navbar*/
#nav-bar a{
	font-size:18px;
	padding-right:20px;
}

/*Formatting the players*/

.players{
	float:left;
	width:33.3%;
	padding:10px;
	box-sizing:border-box;
	text-align:center;
}

.playerImage{
	max-width:100%;
	height:auto;
	text-align
}

.fixed{
	position:fixed;
	top:180px;
}
