.dropbtn{
    
    background-color: lightgray;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
}

.dropdown{
    
    position: relative;
    display: inline-block;
}

.dropdown-content {
    
    display: block;
    position: absolute;
    background-color: lightgrey;
    min-width: 10px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}



.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}